/* RESET */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	max-width: 1300px;
} 

/* general */
html {
	scroll-behavior: smooth;
	margin: 0 auto;
}

a{
	display: inline-block;
	text-decoration: none;
}

body {
	font-family: 'Wix Madefor Display', sans-serif;
	background: #FFFFFF;
}

/*------------------------------------------------------------------ HEADER Y NAV ------------------------------------------------------------------*/

header {
	position: sticky;
	top: 0;
	width: 100vw;
	background: #6DB966;
	align-items: center;
	display: flex; 
	justify-content: space-between;
	height: 70px;
}


.logo{
	display: inline-block;
	position: relative;
	width: 20%;
	height: 100%;
}

.logo a{
	height: 100%;
	width: 100%;
}

.logo img{
	padding: 0.5rem;
	padding-right: 0;
	height: 100%;
	object-fit: contain;
}

nav{
	height: 100%;
	width: 80%;
}
nav ul{
	list-style: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

nav ul li {
	background: #6DB966;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 100%;
	vertical-align: middle;
}

nav ul li a{
	width: 100%;
	height: 100%;
	padding: 3px 6px;
	color: #FFFFFF;
	font-size: 1.1rem;
	font-weight: 700;
	vertical-align: middle;
	letter-spacing: 0.12em;
	text-align: center;
	line-height: 70px;
}

/*DESPLEGABLE*/

.dropdown{
	position: absolute;
	width: 16%;
	top: 70px;
	display: none;
}

.dropdown li{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100%;
	height: 100%;
	background: #6DB966;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.12em;

	vertical-align: middle;
}

.dropdown li a{
    text-align: center;
    vertical-align: middle;
	justify-content: center;
	color: #FFFFFF;
}

/*HOVER*/

nav ul li:hover {
	background: #FFFFFF;
}

nav ul li:hover a{
	color: #6DB966;
}

nav ul li:hover .dropdown{
	display: inline-block;
	background: #FFFFFF;
}

nav ul li:hover .dropdown a{
	color: #FFFFFF;
}

nav ul li:hover .dropdown a:hover{
	color: #6DB966;
}

.dropdown li:hover{
	background: #FFFFFF;
}

.dropdown li:hover a{
	color: #6DB966;
}

.current{
	background: #FFFFFF;
	color: #6DB966;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 100%;
	font-size: 1.1rem;
	font-weight: 1000;
	vertical-align: middle;
	text-decoration: underline;
	letter-spacing: 0.15em;
}

/*------------------------------------------------------------------ MAIN ------------------------------------------------------------------*/


h1, h2{
	text-align: center;
}


.welcometext{
	margin: 4rem;
	text-align: center;
}

.welcome{
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 3rem;
}

/*MENU DE PAGINAS*/

.redireccion_pages h2{
	margin: 3rem;
}

.redireccion_pages section{
	display: flex;
}

.redireccion_pages div{
	width: 33%;
	text-align: center;
}

.redireccion_pages a{
	color: #000;
	font-weight: 700;
}

.redireccion_pages a img{
	border-radius: 50%;
	padding: 0.2rem;
	outline: 0.3rem solid black;
	max-width: 200px;
}

.redireccion_pages a img:hover{
	border-radius: 50%;
	padding: 0;
	outline: 0.3rem solid black;
}


/*MENU DE PERSONAJES*/

.redireccion_char{
	background-image: linear-gradient(#f0dab8,#9f7e5b);
	padding: 3rem 4rem;
	font-size: 2rem;
	display: flex;
	justify-content: space-around;
}

.redireccion_char div{
	width: 15%;
}

.redireccion_char a{
	color: #000;
	font-weight: 700;
	text-align: center;
}

.redireccion_char img{
	width: 100%;
}



.sinopsis {
	font-size: 1.5rem;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	text-align: justify;
	line-height: 1.7;
	letter-spacing: 1.2;
	color: lightgray ;
	background-position: bottom;
}

.sinopsis article{
	background-color: hsla(0, 0%, 10%, 0.8);
	padding: 4em;
}

.character {
	background: #060606;
	display: flex;
}

.character img{
	object-fit: contain;
	padding: 40px;
	display: inline-block;
	width: 25%;
	margin-right: 50px;
}
.character div{
	padding: 50px 40px;
	text-align: center;
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.8rem;
}

.thumbnail {
	margin: 0.7rem;
	padding: 0.2em;
	height: 100px;
	object-fit: contain;
}

.thumbnail:hover {
	background-color: white;
}

.info{
	background-color: grey;
	margin-right: 8rem;
	margin-left: 8rem;
	outline: 2px solid blue;
	display: flex;
	height: 40%;
	padding: 4rem;
	font-size: 1.5rem;
	justify-content: space-between;
}

.info img{
	object-fit: contain;
	display: inline-block;
	height: 400px;
	width: 30%;
}

.info p{
	width: 60%;
	text-align: justify;
	line-height: 1.7;
	letter-spacing: 1.2;
}

/*------------------------------------------------------------------ FOOTER ------------------------------------------------------------------*/
footer {
	color: #FFFFFF;
	background: #5A5A5A;
	
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: 3rem;
	padding: 0,5rem 0rem ;
}

footer p{
	display: inline-block;
}

/*FORMULARIO*/

.contacto{
	background-image: url(/images/colors.jpg);
	background-size: cover;
	background-position: center;
	
	color: #FFFFFF;
	letter-spacing: 1.2;
}

.contacto article{
	background-color: hsla(0, 0%, 10%, 0.479);
	padding: 3rem 5rem 10rem 10rem;
}

.contacto h1{
	margin-bottom: 10rem;
	font-size: 4rem;
	letter-spacing: 1.8;
}

input, textarea { 
	outline: none;
}

form {
	position: relative;
	width: 70%;
	background: #fff;
}

.form-inner {
	padding: 40px;
	padding-right: 60px;
}

.form-inner input, .form-inner textarea {
	display: block;
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: none;
	border-radius: 20px;
	background: #d0dfe8;
}

.form-inner textarea {
	resize: none;

}

button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid #54a14d;
	background: #6DB966; 
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

button:hover {
	background: #54a14d;
} 

